<section id="viewLogin" action="#/login" method="POST">
    <h2>Login to your account:</h2>
    <form id="formLogin">
        <label>Username:</label>
        <input type="text" name="username" placeholder="Enter your Email">
        <span id="usernameValidation" class="text-danger"></span>
        <label>Password:</label>
        <input type="password" name="pass" placeholder="Enter your Password">
        <span id="passValidation" class="text-danger"></span>
        <input type="submit" class="login" value="Login">
    </form>
</section>