<section id="viewRegister">
    <h2>Create your account:</h2>
    <form id="formRegister" action="#/register" method="POST">
        <label>Username:</label>
        <input type="text" name="username" placeholder="Username" >
        <span id="usernameValidation" class="text-danger"></span>
        <label>Password:</label>
        <input type="password" name="password" placeholder="Password">
        <span id="passValidation" class="text-danger"></span>
        <label>Repeat Password:</label>
        <input type="password" name="checkPass" placeholder="Repeat Password">
        <input type="submit" class="register" value="Register">
    </form>
</section>
<script>
    $(() => {
        $('#formRegister').on('submit', (e) => {
            let isValid = true;
            $('#usernameValidation').text('');
            $('#passValidation').text('');
            let inputUsername = $('input[name="username"]').val();
            let inputPassword = $('input[name="password"]').val();
            let inputReapedPassword = $('input[name="checkPass"]').val();
            if(inputUsername.length < 5) {
                isValid = false;
                $('#usernameValidation').text('Field is required and should be at least 5 symbols');
            }

            if(inputPassword !== inputReapedPassword) {
                isValid = false;
                $('#passValidation').text('Passes doesn\'t not matched');
            } 
            e.stopPropagation();
            e.preventDefault();
        });
    });
</script>