<section id="viewMyFlights">
    <h3>Your Flights</h3>
    <div class="flight-ticket">
        <div class="flight-left">
            <img src="http://airportcluj.ro/fisiere/userfiles/Bari_28.03.07_088.jpg" alt="">
        </div>
        <div class="flight-right">
            <div>
                <h3>CLUJ-NAPOCA</h3><span>15 January</span>
            </div>
            <div>
                from Sheffield <span>14:00</span>
            </div>
            <p>55 Seats (13.12$ per seat) </p>
            <a href="" class="remove">REMOVE</a>
            <a href="" class="details">Details</a>
        </div>
    </div>
</section>